/* HERO.CSS */

.hero {
    width:100%; 
    max-width:80rem;
    height: 25rem; 
    margin:auto; 
    display: inline-block; 
    position: relative;
}

.herodiv {
    width: 80%;
    height: 100px;
    
    position: absolute; 
    top: 10%; 
    left: 10%;

    display: flex;
    vertical-align: middle;
    justify-content: space-around;
}

.herotext { 
    width: 30rem;
    height: 15rem;

    margin-top: 1.875rem;
    padding: 1.875rem;
    background: rgba(0, 0, 0, .5);

    border-radius: 0.3125rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.2);

    color: #ffffff;
    text-shadow: -0.0625rem -0.0625rem 0 #000000, 0.0625rem -0.0625rem 0 #000000, -0.0625rem 0.0625rem 0 #000000, 0.0625rem 0.0625rem 0 #000000;
}

.herotext > h1 { 
    font-size: 1.4rem;
    color: #ffff00;
    text-shadow: -0.0625rem -0.0625rem 0 #000000, 0.0625rem -0.0625rem 0 #000000, -0.0625rem 0.0625rem 0 #000000, 0.0625rem 0.0625rem 0 #000000;
}

.herotext > button {
    color: #ffffff;
    background-color: #db7a4e;
    width: 11.25rem;
    border: none;
    padding: 0.5rem 0.75rem;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
    margin: 0.25rem 0.125rem;
    border-radius: 0.5rem;

}

.herotext > button:hover {
    font-weight: bold;
    background: linear-gradient(#b24310, #db7a4e);
}

.herotext > button:active {
    font-weight: bold;
    color: #ffff00;
    background-color: #b24310;
}

.heropic > img {
    max-height: 18rem;
    padding: 0;
    margin: 0;
}